<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/robot.png" alt="">
  </div>
  <div class="headings">
    <h2>Home</h2>
    <h3>Supabase-Express API is running.</h3>
    <a href="/auth/signup" class="btn">Sign Up</a>
    <a href="/auth/login" class="btn">Log In</a>
  </div>
</header>


<%- include('partials/footer'); -%>