<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/robot.png" alt="">
  </div>
  <div class="headings">
    <h2>Home</h2>
    <h3>Supabase-Express API is running.</h3>
  </div>
</header>


<%- include('partials/footer'); -%>